<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Edit Kategori Barang
                <%= link_to 'Kembali', item_categories_path, class: "btn btn-fill btn-danger pull-right" %>
                </h4>
                <hr>
            </div>
            <div class="content table-responsive table-full-width">
				<%= render 'form', item_category: @item_category %>
            </div>
        </div>
    </div>
</div>
