<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Kategori Barang
                <%= link_to 'Tambah Kategori', new_item_category_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>Nama Kategori</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @item_categories.each do |item_category| %>
                    <tr>
                      <td><%= item_category.name %></td>
                      <td><%= link_to 'Edit', edit_item_category_path(item_category),class:'text-info' %></td>
                      <td><%= link_to 'Hapus', item_category, method: :delete, class:'text-danger', data: { confirm: 'Yakin hapus data?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>