<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Tambah Barang
                <%= link_to 'Kembali', admin_items_path, class: "btn btn-fill btn-danger pull-right" %>
                </h4>
                <hr>
            </div>
            <div class="content table-responsive table-full-width">
  				<%= render 'form', item: @item %>
            </div>
        </div>
    </div>
</div>
