<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Tambah Menu Makanan
                <%= link_to 'Kembali', food_menus_path, class: "btn btn-fill btn-danger pull-right" %>
                </h4>
                <hr>
            </div>
            <div class="content table-responsive table-full-width">
				<%= render 'form', food_menu: @food_menu %>
			</div>
        </div>
    </div>
</div>