<fieldset>
<div class="form-group">
	<div class="col-sm-6" >
		<%= f.collection_select(:item_id, Item.all, :id, :itemunit, {prompt: "Pilih Item"}, {class: "form-control"}) %>
	</div>
	<div class="col-sm-2">
		<%= f.hidden_field :_destroy %>
		<%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, '#', class: "btn btn-sm btn-danger remove_fields" %>
	</div>
</div>
</fieldset>