<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Edit Standard Recipe
                <%= link_to 'Kembali', admin_standard_recipes_path, class: "btn btn-fill btn-danger pull-right" %>
                </h4>
                <hr>
            </div>
            <div class="content table-responsive table-full-width">
            	<%= render 'form', standard_recipe: @standard_recipe %>
			</div>
        </div>
    </div>
</div>