<fieldset>
<div class="form-group">
	<div class="col-sm-9" >
		<%= f.collection_select(:food_menu_details, FoodMenu.all, :id, :name, {prompt: "Pilih Menu Makanan"}, {class: "form-control"}) %>
	</div>
	<div class="col-sm-2">
		<%= f.hidden_field :_destroy %>
		<%= link_to "remove", '#', class: "btn btn-md btn-danger remove_fields" %>
	</div>
</div>
</fieldset>