<fieldset>
<div class="form-group row">
	<div class="col-md-9" >
		<%= f.collection_select(:standard_recipe_details, StandardRecipe.all, :id, :standardrecipe, {prompt: "Pilih Standard Recipe"}, {class: "form-control"}) %>
	</div>
	<div class="col-sm-2">
		<%= f.hidden_field :_destroy %>
		<%= link_to "remove", '#', class: "btn btn-md btn-danger remove_fields" %>
	</div>
</div>
</fieldset>