        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.creative-tim.com">Salma Zein Inflight Service</a>
                </p>
            </div>
        </footer>