    <div class="sidebar" data-color="orange">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                  Salma Zein
                </a>
            </div>
            <ul class="nav">
            <%= sidemenu root_path, "Dashboard", "pe-7s-graph" %>
            <%# Profile Pegawai %>
            <li>
                <a href="<%= edit_admin_user_path(current_user)%>">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <%= render 'shared/sidebar/admin_sidebar' if :administrator_only %>
            </ul>
      </div>
    </div>