<div class="panel panel-default">
  <%= panel_heading "Masukan Data Baru #{link_to 'Kembali', items_path, :class=>'pull-right btn btn-warning'}" %>
  <div class="panel-body">
  	<%= render 'form', item: @item %>
  </div>
</div>
