@import "bootstrap-sprockets";
@import "bootstrap";

@import "animate";
@import "dash_theme";
@import "icon";

.panel-heading{
  height: 45px !important;
  line-height: 30px !important;
  .glyphicon{margin:0;}
}
input[type="radio"] {
    -webkit-appearance: none; /* Remove default appearance styling for Webkit */
    -moz-appearance: none; /* Remove default appearance styling for Firefox */
}

