<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Gender
                <%= link_to 'Tambah Gender', new_gender_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>Nama Gender</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @genders.each do |gender| %>
                    <tr>
                      <td><%= gender.name %></td>
                      <td><%= link_to 'Edit', edit_gender_path(gender),class:'text-info' %></td>
                      <td><%= link_to 'Hapus', gender, method: :delete, class:'text-danger', data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>